{% extends "base.html" %} 

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div class="profile-wrapper">
    <h2> Welcome back {{ user.username|capfirst }}<h2>
{% if not user.profile_picture %}   
    <img src = "https://picsum.photo/600" class="profile-card-image">
    {% else %}
    <img src="{{ user.profile_picture }}" class="profile-card-image"/>
    {% endif %} 


<p> Profile Picture: <a href="{% url 'users:profile' request.user.id %}">{{ user.profile_picture }}</a></p>
<p> First name: {{ user.first_name }}</p>
<p> Last name: {{ user.last_name }}</p>
<p> Email: <a href="{% url 'users:profile' request.user.id %}">{{ user.email }}</a></p>
<p> Bio: <a href="{% url 'users:profile' request.user.id %}">{{ user.bio }}</a></p>
<p> Date joined: {{ user.date_joined }}</p>


<a href="{% url 'users:editAccount' request.user.id %}">Edit Account</a>
</div>


{% endblock %}

