{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>She Codes News</title>
    <meta name="description" content="" />
    <meta name="author" content="Karen Lopez" />
    <link
      href="https://fonts.googleapis.com/css?family=Manjari&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% block stylesheets %}{% endblock%}
  </head>
  <body>
    <header>
      <div id="header-image">
        <a href="{% url 'news:index' %}">
        {% load static %}
        <img id="logo" src="{% static '\news\images\SheCodes xmas edition 1.png' %}" alt="SheCodes christmas edition logo" />
        </a>
      </div>
      <!-- include nav here -->
      {% include './nav.html' %}
    </header>
    <main id="body-styling">
    <!-- content blocks here -->
    {% block content %}{% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
