@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');


html {
    scroll-behavior: smooth;

}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FF0000;
    position: sticky;
    top: 0;
    width: 100%;
    color: #ffffff;

}
main {
    display: block;
    justify-content: center;
}

img {
    filter: contrast(150%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Charmonman', cursive;
   color: black; 
   display: block;
   font-size: 60px;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: #FF0000;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar a:hover {
    transition: 0.5s ease;
    transform: translateX(0%);
    color: #FF0000;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 4px;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #8246AF;
}

a:hover {
    color: #FF0000;
    font-weight: 800;
}

a, p {
    font-family: 'Trebuchet MS'
}

#index-h2 {
    color: #ffffff;
    margin: 0 0 5px 20px;
}

#index-createStory-link {
    color: #ffffff;
    font-size: 40px;
    margin-left: 20px;
}

#index-createStory-link:hover {
    transition: 0.5s ease;
    transform: translateX(0%);
    text-transform: uppercase;
    letter-spacing: 2px;
}



