{% extends "base.html" %} 

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div id="deleteStory-styling">
<div id = "form-container">

<h2>Delete recipe</h2>
<br/><br/>
<h3>Delete: {{ story.title }}</h3>
<br/>    
<form action="" method="post">
    {% csrf_token %}
    <strong>Please note, this action is not reversible.</strong>
    <br/><br/>
    <input type="submit" value="Delete Recipe">
</form>
</div>

</div>

{% endblock %}