{% extends "base.html" %} 

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div id="editStory-styling">
<div id = "form-container">

<h2>Update your recipe</h2>
<br/><br/>
    
<form id="form-styling" action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        </table>
    <input type="submit" value="Save Changes">
</form>
</div>

</div>

{% endblock %}