{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4> Shared by: 
    <a href="{% url 'news:authorStories' story.author.id %}">{{ story.author }}</a>
    </h4>
    <div id="story-content">
        <img src="{{story.image_url}}">
        {{ story.content|linebreaks }}
    </div>
</div>


<a href=" {% url 'news:editStory' story.id %}">Edit Story</a>
{% endblock %}
