{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div id="story-styling">
    <h2>{{ story.title }}</h2>
    <p>Published: {{ story.pub_date|date:'d M y' }}</p>
    
    <p> By: 
    <a href="{% url 'news:authorStories' story.author.id %}">{{ story.author }}</a></p>

    <a href=" {% url 'news:editStory' story.id %}">Edit Story</a>
    <br/><br/>
    <a href=" {% url 'news:deleteStory' story.id %}">Delete Story</a>
    <br/>
    
    <div id="story-content">
        <img src="{{story.image_url}}">
        {{ story.content|linebreaks }}
    </div>
</div>

<!-- <div id="comment-wrapper">
    <h2>Comments</h2>
    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'news:addComment' story.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit-button" type="submit" value="Add comment">
    </form>
    {% endif %}

    {% if story.comments.count %}
        {% for comment in story.comments.all %}
            {% include "./commentCard.html" with comment=comment %}
        {% endfor %}
    {% else %}
    <p>No comments yet.</p>
    {% endif %}
</div> -->


<h3>Comments</h3>
{% if not story.comments.all %}
  No comments yet <a href="{% url 'news:addComment' story.id %}">Add comment</a>
{% else %}
  <a href="{% url 'news:addComment' story.id %}">Add comment</a>
    {% for comment in story.comments.all %}
      <strong>
        {{ comment.name }} - {{ comment.date_added }}
      </strong>
      {{ comment.body }}
   {% endfor %}
{% endif %}

{% endblock %}
